
<h1>Person</h1>

<form action="/person/students" method="POST">
<input type="text" name="students[firstName]" id="">
<input type="text" name="students[lastName]" id="">
<input type="submit" value="Click me">

</form>
